# **Analysis of Factors Affecting Customer Health Insurance Costs**

# **Import Library**

In [1]:
import pandas as pd

# **Memuat Dataset**

In [2]:
file = "/content/drive/MyDrive/my gw/insurance.csv"
df = pd.read_csv(file)
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

# **Business Understanding**

## **Business Objective**

Pertumbuhan industri asuransi kesehatan mendorong perusahaan untuk semakin mengoptimalkan pemanfaatan data nasabah dalam mengelola risiko dan menetapkan premi secara tepat. Setiap nasabah memiliki karakteristik yang beragam, baik dari segi usia, kondisi fisik, maupun kebiasaan hidup, yang secara langsung memengaruhi besarnya biaya klaim asuransi. Apabila data tidak dimanfaatkan secara optimal, penentuan premi berisiko menjadi kurang akurat dan tidak sepenuhnya mencerminkan tingkat risiko nasabah.

Berkaitan dengan hal tersebut, studi kasus ini berfokus pada analisis data asuransi kesehatan yang bertujuan untuk memahami hubungan antara karakteristik nasabah dan besaran biaya asuransi yang dibebankan. Dataset yang digunakan terdiri dari 1.338 baris data dan 7 kolom, di mana setiap baris merepresentasikan satu individu nasabah. Variabel dalam dataset mencakup informasi demografis seperti usia dan jenis kelamin, kondisi fisik yang direpresentasikan melalui indeks massa tubuh (BMI), kebiasaan hidup seperti status merokok, serta faktor wilayah tempat tinggal. Selain itu, dataset juga memuat informasi mengenai total biaya asuransi kesehatan yang menjadi fokus utama dalam analisis. Data ini digunakan sebagai dasar untuk mengidentifikasi pola risiko dan memahami faktor-faktor yang berpengaruh terhadap tingginya biaya asuransi kesehatan.

## **Assess Situation**

Kondisi pada dataset ini bersifat luas karena mencakup data nasabah asuransi kesehatan dari berbagai wilayah di Amerika Serikat, yang dibagi menjadi northeast, northwest, southeast, dan southwest. dengan karakteristik yang beragam. Perbedaan kondisi geografis, lingkungan, serta pola hidup di masing-masing wilayah berpotensi memengaruhi tingkat kesehatan dan besarnya risiko biaya asuransi yang ditanggung oleh perusahaan. Oleh karena itu, variasi data yang tinggi menjadi tantangan tersendiri dalam memahami pola risiko secara menyeluruh.

Dengan cakupan data yang luas dan heterogen tersebut, perusahaan asuransi tidak dapat mengandalkan pendekatan penetapan premi yang bersifat umum atau seragam. Setiap kelompok nasabah memiliki karakteristik unik yang dapat memengaruhi frekuensi dan besarnya biaya klaim, sehingga diperlukan pemahaman yang lebih tajam dan mendalam terhadap data nasabah yang tersedia.

Melalui analisis data yang terstruktur, perusahaan diharapkan mampu menggali hubungan antara karakteristik demografis, kondisi fisik, serta kebiasaan hidup nasabah dengan tingkat risiko biaya asuransi. Pendekatan ini memungkinkan perusahaan untuk mengidentifikasi pola risiko yang sebelumnya tidak terlihat, mengelompokkan nasabah berdasarkan profil risikonya, serta mendukung penetapan premi yang lebih proporsional dan berbasis data. Selain itu, pemahaman yang mendalam terhadap dataset ini juga berperan penting dalam meningkatkan kualitas pengelolaan risiko dan ketepatan pengambilan keputusan bisnis jangka panjang.

## **Analytic Goals & Project Plan**

Dengan melakukan analisis terhadap karakteristik demografis dan gaya hidup yang terdapat dalam dataset asuransi kesehatan, perusahaan asuransi diharapkan dapat memperoleh gambaran risiko nasabah. Informasi tersebut dimanfaatkan sebagai dasar dalam mendukung penetapan premi dan pengelolaan risiko secara lebih objektif dan berbasis data.

Untuk mencapai tujuan tersebut, dataset asuransi kesehatan ini akan dianalisis melalui beberapa tahapan berikut:

1. Business Understanding

    Tahap ini bertujuan memahami bagaimana data demografis dan gaya hidup nasabah dapat digunakan untuk menggambarkan tingkat risiko asuransi. Analisis difokuskan pada pemanfaatan data sebagai dasar penetapan premi dan pengelolaan risiko secara berbasis data.

2. Data Understanding

    Pada tahap ini dilakukan eksplorasi data untuk memahami karakteristik variabel yang tersedia serta pola umum dalam data. Proses ini bertujuan memastikan data dapat memberikan informasi yang relevan terhadap analisis risiko dan biaya asuransi.

3. Data Preparation

    Tahap ini bertujuan menyiapkan data agar layak dianalisis melalui proses pembersihan data, penyesuaian format, serta transformasi variabel yang diperlukan untuk mendukung analisis risiko asuransi kesehatan.

4. Analisis & Insight

    Tahap ini bertujuan menganalisis keterkaitan antara karakteristik demografis dan gaya hidup nasabah dengan tingkat risiko asuransi kesehatan. Hasil analisis diharapkan memberikan insight yang dapat digunakan sebagai dasar dalam penetapan premi dan pengelolaan risiko berbasis data.